


<!DOCTYPE html>
<html lang="zh-hans">
<head>
  <meta charset="UTF-8">
  <title>Semantic UI</title>
  <link rel="stylesheet" href="../../semantic/dist/semantic.css">
    <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
  <script src="../semantic/dist/semantic.min.js"></script>
<script type="text/javascript">
	var titl = 'sad';
</script>

	<style type="text/css">
		.container{
			padding-top: 10px;
		}
		#file-zone{
			padding: 5%;
			min-height: 500px;
		}
	</style>

</head>

<body>

    <div class="ui container">


<!--         <h1 class="ui dividing header">Menu</h1>
        <div class="ui divider hidden"></div> -->
        
        <div class="ui blue  inverted pointing stackable menu">
            <div class="header item">文件上传</div>          
	    </div>

	    <div class="twelve wide column" id='file-zone'>
	        <div class="ui four cards" id='concrete-files'>
	            <!-- <div class="ui card"> -->

	              <!--   <div class="image">
	                    <img src="images/avatar/hulk.jpg" alt="">
	                </div> -->

	    <!--             <div class="content">
	                    <a href="" class="”header“">绿巨人</a>
	                    <div class="meta">
	                        <span>Superhero</span>
	                    </div>
	                    <div class="description">
	                        我是超级英雄，一生气就变绿！{{ titl }}
	                    </div>
	                </div> -->

	              <!--   <div class="extra content">
	                    <span class="left floated">
	                        <i class="like icon"></i>
	                        喜欢
	                    </span>
	                    <span class="right floated">
	                        <i class="user icon"></i>
	                        好友
	                    </span>
	                </div> -->

	            <!-- </div> -->
	        </div>
        </div>

		
		<div class="ui divider"></div>

		<div class="ui container center aligned button" id="file-container">
		    <a class="btn btn-default btn-lg " id="pickfiles" href="#" >
		        <span>选择文件</span>
		    </a>
		</div>

		   <p id="note"></p>
        <p id="process"></p>
    </div>

</body>




</script>
<script type="text/javascript" src="../js/plupload.full.min.js"></script>
<script type="text/javascript" src="../js/qiniu.min.js"></script>
<script type="text/javascript" src="../js/update.js"></script>
</html>